.backblur {

    backdrop-filter: blur(8px);
    border-radius: 5px;
    height: 100%;
    width: 100%;

}

.usersBox::-webkit-scrollbar {
    width: 5px;

}

.usersBox::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.usersBox::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.usersBox::-webkit-scrollbar-thumb:hover {
    background: #555;
}